<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.hj.oa.dao.MateriaPurchaseDetailMapper">
  <resultMap id="BaseResultMap" type="com.hj.oa.bean.MateriaPurchaseDetail">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="ma_code" jdbcType="VARCHAR" property="maCode" />
    <result column="classify" jdbcType="VARCHAR" property="classify" />
    <result column="brand" jdbcType="VARCHAR" property="brand" />
    <result column="spec" jdbcType="VARCHAR" property="spec" />
    <result column="package1" jdbcType="VARCHAR" property="package1" />
    <result column="unit" jdbcType="VARCHAR" property="unit" />
    <result column="need_num" jdbcType="DOUBLE" property="needNum" />
    <result column="stock_num" jdbcType="DOUBLE" property="stockNum" />
    <result column="need_date" jdbcType="VARCHAR" property="needDate" />
    <result column="use_date" jdbcType="VARCHAR" property="useDate" />
    <result column="buyNum" jdbcType="DOUBLE" property="buynum" />
    <result column="price" jdbcType="DOUBLE" property="price" />
    <result column="cost" jdbcType="DOUBLE" property="cost" />
    <result column="supplier" jdbcType="VARCHAR" property="supplier" />
    <result column="link" jdbcType="VARCHAR" property="link" />
    <result column="isDeal" jdbcType="VARCHAR" property="isdeal" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    id, code, ma_code, classify, brand, spec, package1, unit, need_num, stock_num, need_date, 
    use_date, buyNum, price, cost, supplier, link, isDeal
  </sql>
  <select id="selectByExample" parameterType="com.hj.oa.bean.MateriaPurchaseDetailExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    'true' as QUERYID,
    <include refid="Base_Column_List" />
    from t_materia_purchase_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from t_materia_purchase_detail
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from t_materia_purchase_detail
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hj.oa.bean.MateriaPurchaseDetail">
    insert into t_materia_purchase_detail (id, code, ma_code, 
      classify, brand, spec, 
      package1, unit, need_num, 
      stock_num, need_date, use_date, 
      buyNum, price, cost, supplier, 
      link, isDeal)
    values (#{id,jdbcType=INTEGER}, #{code,jdbcType=VARCHAR}, #{maCode,jdbcType=VARCHAR}, 
      #{classify,jdbcType=VARCHAR}, #{brand,jdbcType=VARCHAR}, #{spec,jdbcType=VARCHAR}, 
      #{package1,jdbcType=VARCHAR}, #{unit,jdbcType=VARCHAR}, #{needNum,jdbcType=DOUBLE}, 
      #{stockNum,jdbcType=DOUBLE}, #{needDate,jdbcType=VARCHAR}, #{useDate,jdbcType=VARCHAR}, 
      #{buynum,jdbcType=DOUBLE}, #{price,jdbcType=DOUBLE}, #{cost,jdbcType=DOUBLE}, #{supplier,jdbcType=VARCHAR}, 
      #{link,jdbcType=VARCHAR}, #{isdeal,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hj.oa.bean.MateriaPurchaseDetail">
    insert into t_materia_purchase_detail
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="code != null">
        code,
      </if>
      <if test="maCode != null">
        ma_code,
      </if>
      <if test="classify != null">
        classify,
      </if>
      <if test="brand != null">
        brand,
      </if>
      <if test="spec != null">
        spec,
      </if>
      <if test="package1 != null">
        package1,
      </if>
      <if test="unit != null">
        unit,
      </if>
      <if test="needNum != null">
        need_num,
      </if>
      <if test="stockNum != null">
        stock_num,
      </if>
      <if test="needDate != null">
        need_date,
      </if>
      <if test="useDate != null">
        use_date,
      </if>
      <if test="buynum != null">
        buyNum,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="cost != null">
        cost,
      </if>
      <if test="supplier != null">
        supplier,
      </if>
      <if test="link != null">
        link,
      </if>
      <if test="isdeal != null">
        isDeal,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="code != null">
        #{code,jdbcType=VARCHAR},
      </if>
      <if test="maCode != null">
        #{maCode,jdbcType=VARCHAR},
      </if>
      <if test="classify != null">
        #{classify,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        #{brand,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        #{spec,jdbcType=VARCHAR},
      </if>
      <if test="package1 != null">
        #{package1,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        #{unit,jdbcType=VARCHAR},
      </if>
      <if test="needNum != null">
        #{needNum,jdbcType=DOUBLE},
      </if>
      <if test="stockNum != null">
        #{stockNum,jdbcType=DOUBLE},
      </if>
      <if test="needDate != null">
        #{needDate,jdbcType=VARCHAR},
      </if>
      <if test="useDate != null">
        #{useDate,jdbcType=VARCHAR},
      </if>
      <if test="buynum != null">
        #{buynum,jdbcType=DOUBLE},
      </if>
      <if test="price != null">
        #{price,jdbcType=DOUBLE},
      </if>
      <if test="cost != null">
        #{cost,jdbcType=DOUBLE},
      </if>
      <if test="supplier != null">
        #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="isdeal != null">
        #{isdeal,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.hj.oa.bean.MateriaPurchaseDetailExample" resultType="java.lang.Long">
    select count(*) from t_materia_purchase_detail
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update t_materia_purchase_detail
    <set>
      <if test="record.id != null">
        id = #{record.id,jdbcType=INTEGER},
      </if>
      <if test="record.code != null">
        code = #{record.code,jdbcType=VARCHAR},
      </if>
      <if test="record.maCode != null">
        ma_code = #{record.maCode,jdbcType=VARCHAR},
      </if>
      <if test="record.classify != null">
        classify = #{record.classify,jdbcType=VARCHAR},
      </if>
      <if test="record.brand != null">
        brand = #{record.brand,jdbcType=VARCHAR},
      </if>
      <if test="record.spec != null">
        spec = #{record.spec,jdbcType=VARCHAR},
      </if>
      <if test="record.package1 != null">
        package1 = #{record.package1,jdbcType=VARCHAR},
      </if>
      <if test="record.unit != null">
        unit = #{record.unit,jdbcType=VARCHAR},
      </if>
      <if test="record.needNum != null">
        need_num = #{record.needNum,jdbcType=DOUBLE},
      </if>
      <if test="record.stockNum != null">
        stock_num = #{record.stockNum,jdbcType=DOUBLE},
      </if>
      <if test="record.needDate != null">
        need_date = #{record.needDate,jdbcType=VARCHAR},
      </if>
      <if test="record.useDate != null">
        use_date = #{record.useDate,jdbcType=VARCHAR},
      </if>
      <if test="record.buynum != null">
        buyNum = #{record.buynum,jdbcType=DOUBLE},
      </if>
      <if test="record.price != null">
        price = #{record.price,jdbcType=DOUBLE},
      </if>
      <if test="record.cost != null">
        cost = #{record.cost,jdbcType=DOUBLE},
      </if>
      <if test="record.supplier != null">
        supplier = #{record.supplier,jdbcType=VARCHAR},
      </if>
      <if test="record.link != null">
        link = #{record.link,jdbcType=VARCHAR},
      </if>
      <if test="record.isdeal != null">
        isDeal = #{record.isdeal,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update t_materia_purchase_detail
    set id = #{record.id,jdbcType=INTEGER},
      code = #{record.code,jdbcType=VARCHAR},
      ma_code = #{record.maCode,jdbcType=VARCHAR},
      classify = #{record.classify,jdbcType=VARCHAR},
      brand = #{record.brand,jdbcType=VARCHAR},
      spec = #{record.spec,jdbcType=VARCHAR},
      package1 = #{record.package1,jdbcType=VARCHAR},
      unit = #{record.unit,jdbcType=VARCHAR},
      need_num = #{record.needNum,jdbcType=DOUBLE},
      stock_num = #{record.stockNum,jdbcType=DOUBLE},
      need_date = #{record.needDate,jdbcType=VARCHAR},
      use_date = #{record.useDate,jdbcType=VARCHAR},
      buyNum = #{record.buynum,jdbcType=DOUBLE},
      price = #{record.price,jdbcType=DOUBLE},
      cost = #{record.cost,jdbcType=DOUBLE},
      supplier = #{record.supplier,jdbcType=VARCHAR},
      link = #{record.link,jdbcType=VARCHAR},
      isDeal = #{record.isdeal,jdbcType=VARCHAR}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.hj.oa.bean.MateriaPurchaseDetail">
    update t_materia_purchase_detail
    <set>
      <if test="code != null">
        code = #{code,jdbcType=VARCHAR},
      </if>
      <if test="maCode != null">
        ma_code = #{maCode,jdbcType=VARCHAR},
      </if>
      <if test="classify != null">
        classify = #{classify,jdbcType=VARCHAR},
      </if>
      <if test="brand != null">
        brand = #{brand,jdbcType=VARCHAR},
      </if>
      <if test="spec != null">
        spec = #{spec,jdbcType=VARCHAR},
      </if>
      <if test="package1 != null">
        package1 = #{package1,jdbcType=VARCHAR},
      </if>
      <if test="unit != null">
        unit = #{unit,jdbcType=VARCHAR},
      </if>
      <if test="needNum != null">
        need_num = #{needNum,jdbcType=DOUBLE},
      </if>
      <if test="stockNum != null">
        stock_num = #{stockNum,jdbcType=DOUBLE},
      </if>
      <if test="needDate != null">
        need_date = #{needDate,jdbcType=VARCHAR},
      </if>
      <if test="useDate != null">
        use_date = #{useDate,jdbcType=VARCHAR},
      </if>
      <if test="buynum != null">
        buyNum = #{buynum,jdbcType=DOUBLE},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DOUBLE},
      </if>
      <if test="cost != null">
        cost = #{cost,jdbcType=DOUBLE},
      </if>
      <if test="supplier != null">
        supplier = #{supplier,jdbcType=VARCHAR},
      </if>
      <if test="link != null">
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="isdeal != null">
        isDeal = #{isdeal,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hj.oa.bean.MateriaPurchaseDetail">
    update t_materia_purchase_detail
    set code = #{code,jdbcType=VARCHAR},
      ma_code = #{maCode,jdbcType=VARCHAR},
      classify = #{classify,jdbcType=VARCHAR},
      brand = #{brand,jdbcType=VARCHAR},
      spec = #{spec,jdbcType=VARCHAR},
      package1 = #{package1,jdbcType=VARCHAR},
      unit = #{unit,jdbcType=VARCHAR},
      need_num = #{needNum,jdbcType=DOUBLE},
      stock_num = #{stockNum,jdbcType=DOUBLE},
      need_date = #{needDate,jdbcType=VARCHAR},
      use_date = #{useDate,jdbcType=VARCHAR},
      buyNum = #{buynum,jdbcType=DOUBLE},
      price = #{price,jdbcType=DOUBLE},
      cost = #{cost,jdbcType=DOUBLE},
      supplier = #{supplier,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      isDeal = #{isdeal,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>